<html>
    <body style="background-color:black;">
        
        <form method="GET" action="/gotomoviesearch">
          <img src= <%= Poster %> width="400" height="400" align="left"style="padding-top:60px;padding-left:30px;" >  
          <div style="color:white;padding-left: 600px;padding-top:30px">
            <h1 style="color:rgba(255, 255, 0, 0.986)"><%=Title %></h1>
           <b> Year :</b> <%= Year %> <br><br>
            <b>Ratings :</b> <%= imdbRating %> <br><br>
            <b>  Released :</b> <%= Released %><br><br>
            <b>Genre :</b><%=Genre%><br><br>
            <b>Actors :</b> <%=Actors%> <br><br>
            <b> Plot :</b> <%=Plot %> <br><br>
            <b>Language : </b><%=Language %> <br><br>
            <b>Boxoffice Collection</b> : <%=BoxOffice %> <br><br><br>
            <input type="submit" style="background-color:yellow;height: 30px;width: 200px ;" value="Search for another movie">
           </div>
        </form>

    </body>
</html>
